body{
    margin: 0;
    margin-top: 30px;
    font-family: 'Heebo', sans-serif;
}

header{
    justify-content: flex-end;
}

.flex{
    display: flex;
}

.fd-c{
    flex-direction: column;
}

.jc-sb{
    justify-content: space-between;
}

.jc-sa{
    justify-content: space-around;
}

.jc-c{
    justify-content: center;
}

.ai-c{
    align-items: center;
}

.side-padding{
    padding-left: 10%;
    padding-right: 10%;
}

.padding{
    padding: 0 10% 0 10%;
}

.side-padding2{
    padding-left: 10%;
    padding-right: 18%;
}

.mt-30{
    margin-top: 30px;
}

.mt-40{
    margin-top: 40px;
}

.mt-70{
    margin-top: 70px;
}

.mt-150{
    margin-top: 150px;
}

.ml-20{
    margin-left: 20px;
}

.WBC{
    width: 236px;
    text-align: right;
}

.header-text{
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
    text-align: right;
}

.left{
    width: 50%;
}

h1{
    font-size: 44px;
    font-weight: 700;
    color: #21243D;
    margin-top: -3px;
}

h2{
    font-size: 26px;
    font-weight: 700;
    color: #21243D;
}

.info-me{
    font-size: 18px;
    font-weight: 400;
    color: #21243D;
}

.DR{
    width: 210px;
    height: 50px;
    background-color: #ff6464;
    border: 1px solid transparent;
    border-radius: 2px;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
}

.my-photo{
    width: 243px;
    height: 243px;
    border-radius: 100%;
    box-shadow: -5px 15px 0 1px moccasin;
}

.block{
    height: 530px;
    background-color: #EDF7FA;
}

.recent-posts{
    font-size: 22px;
    font-weight: 400;
    color: #21243D;
}

.view{
    font-size: 16px;
    font-weight: 400;
    color: #00a8cc;
    padding-right: 10%;
    text-decoration: none;
    cursor: pointer;
}

.view:hover{
    text-decoration: underline;
}

.history{
    width: 45%;
    height: 400px;
    background-color: #ffffff;
    border-radius: 4px;
}

.date1{
    width: 380px;
    font-size: 20px;
    font-weight: 400;
    color: #21243D;
    align-items: center;
}

.line1{
    height: 21px;
    border: 1px solid #000;
}

.info-m{
    font-size: 18px;
    font-weight: 400;
    color: #21243D;
    text-align: justify;
    margin-top: 10px;
}

.img{
    width: 245px;
    height: 180px;
    border-radius: 6px;
}

.proekt{
    width: 72%;
    height: 200px;
    border-bottom: 1px solid #E0E0E0;
    margin-left: 10%;
}

.side-info{
    height: 180px;
}

.end-text{
    font-size: 14px;
    font-weight: 400;
    color: #21243D;
}

@media (max-width: 768px){
    .side-padding {
        padding: 0 0 0 20%
    }

    .WBC{
        display: none;
    }

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 100px;
    }

    .two-part {
        flex-flow: column-reverse;
        align-items: center;
        margin-top: 99px;
    }

    .info-me {
        margin-bottom: 42px;
        text-align: center;
    }

    .left{
        width: 100%;
    }

    h1 {
        width: 100%;
        margin-top: 40px;
        text-align: center;
    }

    .view {
        display: none;
    }

    h2 {
       font-size: 16px; 
    }

    .line1{
        display: none;
    }

    .none{
        display: none;
    }

    .info-m{
        font-size: 16px;
        margin-top: 20px;
    }

    form{
        display: flex;
        justify-content: center;
    }

    .recent-posts {
        font-weight: 700;
        margin-bottom: -25px;
        margin-left: -40px;
    }

    .history {
        min-width: 95%;
        height: 48vh;
        margin-right: 31px;
    }

    .img{
        margin-right: 10px;
        margin-top: 20px;
    }

    .block {
        width: 100%;
        overflow-x: scroll;
    }

    .proekt {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        margin-top: 20px;
        height: 310px;
    }

    .date1{
        font-size: 14px;
        width: 80%;
    }

    .title {
        margin: 10px 0 0 -20px;
        font-size: 20px;
        font-weight: 700;
    }

    .text{
        margin: 10px 0 30px -20px;
        font-size: 16px;
        font-weight: 400;

    }

    .block-icon {
        margin-top: 60px;
    }

    .end-text {
        margin-bottom: 67px;
    }
}